*{
    margin: 0;
    text-align: center; 
}
body{
    background-image: linear-gradient(90deg,black,limegreen ,black);
    
}

#header
{
    background-color: black;
    height: 70px;
    /* margin-top: ; */
}
h1{
    color: white;
    font-family: cursive;
}
#brand {
    width:40%;
    float: left;
    line-height: 70px;
    height: 70px;
    text-align: center;
    
}

#menu{
    width: 60%;
    float: right;
    
    font-family:cursive;
    
    line-height: 70px;
    height: 70px;
     text-align: center ;

}

a{
    color: white;
    margin: 30px;
    text-decoration: none;
    /* padding: 50 px; */
}
#title
{
    margin-top: 50px;

}
table{
    width: 100%;
}
img{
    border-radius: 20px;
    box-shadow: 0 0 24px black;
}
#pizza
{
    margin-top:20px;
}
#DP{
    background: linear-gradient(45deg,black,red,black);
    padding: 15px;
    border-radius: 50%;
    margin:30px auto ;
    width: 500px;

}
#tb{
    background: linear-gradient(45deg,black,red,black);
    padding: 15px;
    border-radius: 50%;
    margin:30px auto ;
    width: 500px;

}
#drink{
    background: linear-gradient(45deg,black,red,black);
    padding: 15px;
    border-radius: 50%;
    margin:30px auto ;
    width: 500px;


}

#footer{
    background-color: black;
    padding: 50px;
    color: white;
    margin-top: 30px;
}

p{
    font-family: cursive;
}

.td
{
    font-family: cursive;
}

.dd{
    font-family: cursive;}